<!doctype html>

<html>

<head>
	<title>LastFM Charts</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/styles/css-grid.css" rel="stylesheet">
	
	<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Abel'>
	<script src="/static/scripts/script.js"></script>
</head>

<body>


<div class="wrapper">
  <header><h1 id="h1header">Top Artist from Beginning</h1></header>
  <article>
    
<div class="boxes">

	<!-- results it's a python dictionary sent by python app, it requires .items() for iterate key, values -->
	{% for index, values in results.items() %}

	<div id="imgsrc-{{ loop.index }}" class="box" style="background-image: url('/static/images/{{values[0]}}');">
  
  	<div class="boxtext">
  		{% set outer_loop = loop.index %}
		{% for v in range(1, values|length) %}
			<p id="titlename-{{ outer_loop }}-{{ loop.index }}" style="margin:0;line-height:1.2em;">{{values[v]}}</p>
		{% endfor %} 		
	</div>
  
	</div>
  
	{% endfor %}
  
</div>  
        
    
</article>
  
<aside>
	<div class="menutime">
  	<!--
  		<div class="menu"><button id="lm" onclick="disableinputs();loadxml(1)">Last Month</button></div>
  	-->
  	<div class="menu"><button id="lm" onclick="loadxml(1)">Last Month</button></div>
	<div class="menu"><button id="l3m" onclick="loadxml(2)">Last 3 Months</button></div>
	<div class="menu"><button id="ly" onclick="loadxml(3)">Last Year</button></div>
	<div class="menu"><button id="ftb" onclick="loadxml(4)">From the beginning</button></div>
	<div class="menu"><button id="ci" onclick="loadxml(5)">Custom Interval</button></div>
	</div>
	
	<p></p>

	<div class="menudate">
	<div class="menu"><input class="inputdate" id="date-start" type="date" value="" /></div>
	<div class="menu"><input class="inputdate" id="date-end" type="date" value="" /></div>
	</div>

	<p></p>

	<div class="menutype">
	<div class="menu"><input type="radio" name="chart_type" value="artist" checked>
	<label>Artist</label></div>

	<div class="menu"><input type="radio" name="chart_type" value="song">
	<label>Song</label></div>

 	<div class="menu"><input type="radio" name="chart_type" value="album">
	<label>Album</label></div>
	</div>	
	
</aside>
  
<footer>© by Paolo C.</footer>
</div>

</body>
</html>




