{% extends 'basemusic.html' %}

{% block header %}
<header class="w3-container w3-center w3-margin-top w3-margin-down w3-margin-right w3-margin-left">
<h1>Music Artist</h1>

<div class="w3-row-padding w3-border w3-padding-16">
<p id="demo">
{% if artists|length %}
    variable is not empty
{% else %}
    variable is empty
{% endif %}
</p>
<div class="w3-col m2">
  <input class="w3-input" type="date" id="start" disabled>
</div>
<div class="w3-col m2">
  <input class="w3-input" type="date" id="end" disabled>
</div>
<div class="w3-col m3">
  <select class="w3-select" id="option_time" onchange="select_time()">
  <option value="" disabled selected>Choose your time interval:</option>
  <option value="1">Last Month</option>
  <option value="2">Last 3 Months</option>
  <option value="3">Last Year</option>
  <option value="4">Custom Range</option>
  </select> 
</div>

<div class="w3-col m2">
  <select class="w3-select" id="option_chart">
  <option value="" disabled selected>Choose your chart type:</option>
  <option value="1">Artist</option>
  <option value="2">Song</option>
  <option value="3">Album</option>
  </select>
</div>

<div class="w3-col m3">

<button id="chartbutton" class="w3-block w3-orange w3-xlarge w3-disabled" onclick=loadxml()>Search</button>

</div>

</div> 
 
</header> 
{% endblock %}

{% block content %}
<!-- <div class="w3-container" style="display:none"> -->  
<div class="w3-container" id="maindiv" style="visibility:hidden">

{# a comment #}  
{% for key,value in artists.items() %}

{% if (loop.index - 1) % 4 == 0 %}
<div class="w3-row-padding">
{% endif %}

<div class="w3-quarter">
<div class="w3-display-container w3-margin-bottom w3-margin-top w3-margin-right w3-margin-left">
<!-- It's important to increment imgsrc id for later retrivial in javascript ajax-->
<img id="imgsrc-{{ loop.index }}" src="/static/images/img.jpg" style="width:100%">
<!-- It's also important to increment name (for artist/song/album) id for later retrivial in javascript ajax-->
<div id="name-{{ loop.index }}" class="w3-small w3-white w3-display-bottomleft">{{key}}-{{value}}</div>     
</div>
</div>

{% if loop.index % 4 == 0 %}
</div>
{% endif %}
            
{% endfor %}

</div>   

{% endblock %}

{% block footer %}
<footer class="w3-container w3-orange w3-center w3-margin-top w3-margin-right w3-margin-left">
  <h1>Footer</h1>
</footer> 
{% endblock %}
